.panel {
	margin-bottom: 70%;
	margin-left: 25%;
	margin-right: 25%;
	background: blue;
	text-align: center;
	
}

body {
	background: url("images/southpark3.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 50%;
}
