.panel {
	padding: 50px;
	margin-top: 10%;
	margin-bottom: 25%;
	margin-left: 25%;
	margin-right: 25%;
	background: blue;
	text-align: center;
	height: 200px;
	width: 300px;
	font-size: 20px;
}

body {
	background: url("images/southpark3.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}


